{{=<% %>=}}
<footer>
  <div class="container">
    <hr>
    <div class="logo">
      <div class="logo-container">
        <div class="logo-title">
           <h1><a href="">{{company_brand}}</a></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <section>
      <h4 data-editable="footer_heading_1">{{footer_heading_1}}</h4>
      <p data-editable="maps_address">{{maps_address}}</p>
    </section>
    <section>
      <h4 data-editable="footer_heading_2">{{footer_heading_2}}</h4>
      <p data-editable="company_business_hours">{{company_business_hours}}</p>
    </section>
    <section class="bigger">
      <h4 data-editable="footer_heading_3">{{footer_heading_3}}</h4>
      <p data-editable="company_email">{{company_email}}</p>
    </section>
    <section class="smaller">
      <h4 data-editable="footer_heading_4">{{footer_heading_4}}</h4>
      <p data-editable="company_phone">{{company_phone}}</p>
    </section>
  </div>
</footer>
</div>
</div>