{{=<% %>=}}
<div id="bdb-body">
<nav class="mobile" id="off-canvas">
  <ul>
    <li><a data-content="menu_home" href="/home">{{menu_home}}</a></li>
    <li><a data-content="menu_about" href="/sobre">{{menu_about}}</a></li>
    <li><a data-content="menu_gallery" href="/galeria">{{menu_gallery}}</a></li>
    <li><a data-content="menu_contact" href="/contato">{{menu_contact}}</a></li>
  </ul>
</nav>
<div role="main">
<header id="header">
  <div class="container">
    <span class="mobile menu"><i class="icon-reorder"></i></span>
    <nav id="bdb-menu">
      <ul data-menu>
        <li><a data-content="menu_home" href="/home">{{menu_home}}</a></li>
        <li><a data-content="menu_about" href="/sobre">{{menu_about}}</a></li>
      </ul>
      <div class="logo">
        <div class="logo-container">
          <div class="logo-title">
             <h1 data-brand>{{company_logo}}</h1>
          </div>
        </div>
      </div>
      <ul data-menu>
        <li><a data-content="menu_gallery" href="/galeria">{{menu_gallery}}</a></li>
        <li><a data-content="menu_contact" href="/contato">{{menu_contact}}</a></li>
      </ul>
    </nav>
  </div>
</header>
