{{=<% %>=}}
<div id="map-canvas">
 <iframe class="hide-for-small" width="100%" height="560" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;q={{ maps_address }}&amp;hl=ptBR&amp;ie=UTF8&amp;output=embed&amp;iwloc=near"></iframe>
</div>

<section id="contact">
  <article class="highlight">
    <form class="form-contact">
      <h4 data-editable="contact_msg">{{contact_msg}}</h4>
      <input type="text" name="name" placeholder="Nome">
      <input type="email" name="email" placeholder="email" required>
      <input type="text" name="phone" placeholder="Telefone para contato">
      <textarea name="message" placeholder="Mensagem"></textarea>
      <button class="bdbAdv-button" type="submit">{{form_button_name}}</button>
    </form>
  </article>
  <article class="contact-list">
    <h4 data-editable="footer_heading_1">{{footer_heading_1}}</h4>
    <p data-editable="maps_address">{{maps_address}}</p>
    <h4 data-editable="footer_heading_2">{{footer_heading_2}}</h4>
    <p data-editable="company_business_hours">{{company_business_hours}}</p>
    <h4 data-editable="footer_heading_3">{{footer_heading_3}}</h4>
    <p data-editable="company_email">{{company_email}}</p>
    <h4 data-editable="footer_heading_4">{{footer_heading_4}}</h4>
    <p data-editable="company_phone">{{company_phone}}</p>
  </article>
</section>
