{{=<% %>=}}
<section id="gallery">
  <div data-gallery>
        <div id="pictures">
      <ul>
        <li>
          <a href="http://upload.wikimedia.org/wikipedia/commons/c/c3/Cub_Red_Panda_almost_falling_of.jpg" title="">
            <img src="{{home_first_article_img_300x190}}" title="Firefox" data-description="a cute little red panda">
          </a>
        </li>
        <li>
          <a href="http://cdn2.arkive.org/media/DF/DF650786-3CAC-4E4F-AF63-329E574A5B76/Presentation.Large/Red-panda-in-tree-captive.jpg" title="">
            <img src="{{home_first_article_img_300x190}}" title="Firefox" data-description="a cute little red panda">
          </a>
        </li>
        <li>
          <a href="http://images4.fanpop.com/image/photos/19500000/Red-Pandas-the-alliance-of-red-panda-believers-19592010-2560-1920.jpg" title="">
            <img src="{{home_first_article_img_300x190}}" title="Firefox" data-description="a cute little red panda">
          </a>
        </li>
        <li>
          <a href="http://upload.wikimedia.org/wikipedia/commons/c/c3/Cub_Red_Panda_almost_falling_of.jpg" title="">
            <img src="{{home_first_article_img_300x190}}" title="Firefox" data-description="a cute little red panda">
          </a>
        </li>
        <li>
          <a href="http://cdn2.arkive.org/media/DF/DF650786-3CAC-4E4F-AF63-329E574A5B76/Presentation.Large/Red-panda-in-tree-captive.jpg" title="">
            <img src="{{home_first_article_img_300x190}}" title="Firefox" data-description="a cute little red panda">
          </a>
        </li>
        <li>
          <a href="http://images4.fanpop.com/image/photos/19500000/Red-Pandas-the-alliance-of-red-panda-believers-19592010-2560-1920.jpg" title="">
            <img src="{{home_first_article_img_300x190}}" title="Firefox" data-description="a cute little red panda">
          </a>
        </li>
        <li>
          <a href="http://upload.wikimedia.org/wikipedia/commons/c/c3/Cub_Red_Panda_almost_falling_of.jpg" title="">
            <img src="{{home_first_article_img_300x190}}" title="Firefox" data-description="a cute little red panda">
          </a>
        </li>
        <li>
          <a href="http://cdn2.arkive.org/media/DF/DF650786-3CAC-4E4F-AF63-329E574A5B76/Presentation.Large/Red-panda-in-tree-captive.jpg" title="">
            <img src="{{home_first_article_img_300x190}}" title="Firefox" data-description="a cute little red panda">
          </a>
        </li>
        <li>
          <a href="http://images4.fanpop.com/image/photos/19500000/Red-Pandas-the-alliance-of-red-panda-believers-19592010-2560-1920.jpg" title="">
            <img src="{{home_first_article_img_300x190}}" title="Firefox" data-description="a cute little red panda">
          </a>
        </li>
      </ul>
    </div>
  </div>
 <div class="overlay">
 </div>
 <div class="container">
   <div class="lightbox">
    <div class="close">Fechar</div>
    <h4></h4>
    <p></p>
    <span id="gallery-next"><i class="icon-angle-right"></i></span>
    <span id="gallery-prev"><i class="icon-angle-left"></i></span>
  </div>
 </div>
</section>