{{=<% %>=}}
<section id="home">
	<article id="home-featured">
		<figure>
			<img src="{{image-test_500_500}}" data-editable-img="image-test_500_500" />
		</figure>
		<h2>Spotlight</h2>
			<p>Aenean at tortor justo. In pellentesque libero nibh, convallis vulputate nibh lacinia nec. Vivamus dignissim quis libero consectetur suscipit.</p>
			<p>Aenean at tortor justo. In pellentesque libero nibh, convallis vulputate nibh lacinia nec. Vivamus dignissim quis libero consectetur suscipit.</p>
	</article>
	<section id="spotlights">
		<article id="home-spotlight-one" class="spotlight">
			<figure>
				<img src="{{image-test_500_500}}" data-editable-img="image-test_500_500" />
			</figure>
			<h3>Título Muito louco sobre a página</h3>
			<p>Aenean at tortor justo. In pellentesque libero nibh, convallis vulputate nibh lacinia nec. Vivamus dignissim quis libero consectetur suscipit.</p>
		</article>
		
		<article id="home-spotlight-two" class="spotlight">
			<figure>
				<img src="{{image-test_500_500}}" data-editable-img="image-test_500_500" />
			</figure>
			<h3>Título Muito louco sobre a página</h3>
			<p>Aenean at tortor justo. In pellentesque libero nibh, convallis vulputate nibh lacinia nec. Vivamus dignissim quis libero consectetur suscipit.</p>
		</article>
		
		<article id="home-spotlight-three" class="spotlight">
			<figure>
				<img src="{{image-test_500_500}}" data-editable-img="image-test_500_500" />
			</figure>
			<h3>Título Muito louco sobre a página</h3>
			<p>Aenean at tortor justo. In pellentesque libero nibh, convallis vulputate nibh lacinia nec. Vivamus dignissim quis libero consectetur suscipit.</p>
		</article>

		<article id="home-spotlight-three" class="spotlight">
			<figure>
				<img src="{{image-test_500_500}}" data-editable-img="image-test_500_500" />
			</figure>
			<h3>Título Muito louco sobre a página</h3>
			<p>Aenean at tortor justo. In pellentesque libero nibh, convallis vulputate nibh lacinia nec. Vivamus dignissim quis libero consectetur suscipit.</p>
		</article>

		<article id="home-spotlight-three" class="spotlight">
			<figure>
				<img src="{{image-test_500_500}}" data-editable-img="image-test_500_500" />
			</figure>
			<h3>Título Muito louco sobre a página</h3>
			<p>Aenean at tortor justo. In pellentesque libero nibh, convallis vulputate nibh lacinia nec. Vivamus dignissim quis libero consectetur suscipit.</p>
		</article>

		<article id="home-spotlight-three" class="spotlight">
			<figure>
				<img src="{{image-test_500_500}}" data-editable-img="image-test_500_500" />
			</figure>
			<h3>Título Muito louco sobre a página</h3>
			<p>Aenean at tortor justo. In pellentesque libero nibh, convallis vulputate nibh lacinia nec. Vivamus dignissim quis libero consectetur suscipit.</p>
		</article>
	</section>
</section>
