{{=<% %>=}}
<section id="intro" style="background-image: url({{image_banner_1600x485}})" data-editable-img="image_banner_1600x485">
	<div class="container">
	  <h2 data-editable="home_intro_heading">{{home_intro_heading}}</h2>
    <h5 data-editable="home_intro_sub_heading">{{home_intro_sub_heading}}</h5>
  </div>
</section>
<section id="main">
	<div class="article-group">
		<article>
			<figure>
				<img data-editable-img="home_first_article_img_300x190" src="{{home_first_article_img_300x190}}">
			</figure>
			<h3 data-editable="home_first_article_heading">{{home_first_article_heading}}</h3>
			<p data-editable="home_first_article_content">{{home_first_article_content}}</p>
		</article>
		<article>
			<figure>
				<img data-editable-img="home_second_article_img_300x190" src="{{home_second_article_img_300x190}}">
			</figure>
			<h3 data-editable="home_second_article_heading">{{home_second_article_heading}}</h3>
			<p data-editable="home_second_article_content">{{home_second_article_content}}</p>
		</article>
		<article class="highlight">
			<i class="icon-envelope-alt"></i>
			<h3 data-editable="home_contact_heading">{{home_contact_heading}}</h3>
			<p data-editable="home_contact_content">{{home_contact_content}}</p>
			<div class="bdbAdv-button" data-editable="home_contact_button" >{{home_contact_button}}</div>
		</article>
	</div>
	<div class="article-group">
		<article class="full-hl">
			<figure>
				<img data-editable-img="home_full_article_img_440x230" src="{{home_full_article_img_440x230}}">
			</figure>
			<div class="content">
				<h3 data-editable="home_full_article_heading">{{home_full_article_heading}}</h3>
				<p data-editable="home_full_article_content">{{home_full_article_content}}</p>
			</div>
		</article>
	</div>
</section>
