{{=<% %>=}}
<section id="about">
  <div class="article-group">
    <article class="full-hl">
      <div class="img">
        <img data-editable-img="about_heading_300x300" src="{{about_heading_300x300}}">
      </div>
      <div class="content">
        <h3 data-editable="about_heading">{{about_heading}}</h3>
        <div class="small-content">
          <p data-editable="about_first_content">{{about_first_content}}</p>
        </div>
        <div class="small-content">
          <p data-editable="about_second_content">{{about_second_content}}</p>
          <div class="bdbAdv-button" data-editable="about_contact_button">{{about_contact_button}}</div>
        </div>
      </div>
    </article>
  </div>
  <div class="article-group">
    <article class='alpha'>
      <figure>
        <img data-editable-img="about_first_lawyer_img_300x190" src="{{about_first_lawyer_img_300x190}}">
      </figure>
      <h3 data-editable="about_first_lawyer_name">{{about_first_lawyer_name}}</h3>
      <p data-editable="about_first_lawyer_desc">{{about_first_lawyer_desc}}</p>
    </article>
    <article>
      <figure>
        <img data-editable-img="about_second_lawyer_img_300x190" src="{{about_second_lawyer_img_300x190}}">
      </figure>
      <h3 data-editable="about_second_lawyer_name">{{about_second_lawyer_name}}</h3>
      <p data-editable="about_second_lawyer_desc">{{about_second_lawyer_desc}}</p>
    </article>
    <article>
      <figure>
        <img data-editable-img="about_third_lawyer_img_300x190" src="{{about_third_lawyer_img_300x190}}">
      </figure>
      <h3 data-editable="about_third_lawyer_name">{{about_third_lawyer_name}}</h3>
      <p data-editable="about_third_lawyer_desc">{{about_third_lawyer_desc}}</p>
    </article>
  </div>
</section>