{{=<% %>=}}

<!DOCTYPE html>
<html lang="pt_BR">
	<head>
	
	
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{title}}</title>
		 <!--[if lt IE 9]>
   			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
  		<![endif]-->
  		
		

	</head>

	<body id="{{namespace}}" style="margin:0;">
	<%> commons/header %>
		
		<%#home? %>
			<%> pages/home %>
		<%/home? %>

		<%#sobre? %>
			<%> pages/sobre %>
		<%/sobre? %>

		<%#galeria? %>
			<%> pages/galeria %>
		<%/galeria? %>

		<%#contato? %>
		<%> pages/contato %>
		<%/contato? %>

		<%> commons/footer %>
	
	</body>
	
</html>