// Manter esta Ordem de importação
$padding: 1em;

@import "bourbon/bourbon";
@import "neat/neat";


/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

/* -- Tipografia --  */
body {background: red;}
#wrapper {
	font-family: $helvetica;
	border:1px solid black;
	@include outer-container;

}

/* -- html -- */

/* -- body -- */

/* -- Header -- */

header {
	height: 100px;
	
	
}
header h1, footer h3{
	@include span-columns(4);
}
/* -- Menu Navegação -- */

nav {
	
	}
		nav ul {
			margin: 0;
			padding: 0;

		}
			nav li {
				display: inline-block;
			}

/* -- Footer -- */
footer {
	background-color: #f3f3f3;
	height:200px;
	
	clear: both;
}
/* -- home -- */
#home-featured{
	background-color: #f3f3f3;
	@include outer-container;
}
#home-featured figure{
	@include span-columns(4);	
	margin:0;
}
#home-featured h1{
	@include span-columns(6);	
}

#spotlights{

}
.spotlight {
	background-color: #f3f3f3;
	@include span-columns(2, block);	
}
.spotlight {

}

figure{
	//margin:0;
}

figure img {
	width: 100%;
}



